<footer class="text-center text-lg-start bg-light text-muted">
    <div class="container">
        <div class="footer-top">
            <div class="footer-col">
                <ul>
                    <li>Tích điểm Quà tặng VIP</li>
                    <li>Lịch sử mua hàng</li>
                    <li>Tìm hiểu về mua trả góp</li>
                    <li>Chính sách bảo hành</li>
                    <li>Xem thêm...</li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li>Giới thiệu công ty (MWG.vn)</li>
                    <li>Tuyển dụng</li>
                    <li>Gửi góp ý, khiếu nại</li>
                    <li>Tìm siêu thị (3,362 shop)</li>
                    <li>Xem bản mobile</li>
                </ul>
            </div>
            <div class="footer-col">
                <ul class="d">
                    <li><b>Tổng đài hỗ trợ</b> (Miễn phí gọi)</li>
                    <li>Gọi mua: <span>1800.1060</span> (7:30 - 22:00)</li>
                    <li>Khiếu nại: <span>1800.1062</span> (8:00 - 21:30)</li>
                    <li>Bảo hành: <span>1800.1064</span> (8:00 - 21:00)</li>
                </ul>
            </div>
            <div class="footer-col">
                <ul class="icon-branch">
                    <li><i class="fb fa-brands fa-facebook"></i> 3911.8k Fan</li>
                    <li><i class="ytb fa-brands fa-youtube"></i> 860k Đăng ký</li>
                    <li><i class="zalo fa-brands fa-instagram"></i>Zalo TGDĐ</li>
                </ul>
                <div class="icon-logo">
                    <div class="iconglobalcheck-logo icon-congthuong"></div>
                    <div class="iconglobalcheck-logo icon-khieunai"></div>
                    <div class="iconglobalcheck-logo icon-protected"></div>
                    <div class="tinnhiemmang">
                        <img data-src="https://tinnhiemmang.vn/handle_cert?id=thegioididong.com" alt="" />
                    </div>
                </div>
                <p class="mt-3 mb-0">Website cùng tập đoàn</p>
                <div class="logo-website">
                    <div class="website-logo iconlogo-topzone"></div>
                    <div class="website-logo iconlogo-dienmayxanh"></div>
                    <div class="website-logo iconlogo-bachhoaxanh"></div>
                    <div class="website-logo iconlogo-ankhang"></div>
                    <div class="website-logo iconlogo-kids"></div>
                    <div class="website-logo iconlogo-tantam"></div>
                    <div class="website-logo iconlogo-4kfarm"></div>
                    <div class="website-logo iconlogo-vieclam"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: rgba(0, 0, 0, 0.05); font-size: 13px">
        <div class="container">
            <span>
                © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020. Địa chỉ: 128 Trần
                Quang Khải, P.Tân Định, Q.1, TP.Hồ Chí Minh. Địa chỉ liên hệ và gửi chứng từ: Lô T2-1.2, Đường D1, Đ. D1, P.Tân Phú, TP.Thủ Đức, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email:
                cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. Email: Tot.huynhvan@thegioididong.com.
                <a class="text-reset fw-bold" href="https://www.thegioididong.com/thoa-thuan-su-dung-trang-mxh"> Xem chính sách sử dụng</a>
            </span>
        </div>
    </div>
</footer>